/* ให้อยู่ซ้ายสุด สูง 40px พื้นหลังดำ*/
nav{
    display: flex;
    justify-content: flex-end;
    line-height: 40px;
    background-color: black;
    margin: 0px;
    padding: 10px 5px;
    
}
/* ไม่มีขอบ ฟ้อน sans-serif*/
body{
    margin: 0em;
    font-family: sans-serif;
}

div {
    margin: 0px 10px;
}
/* อักษรสีขาว */
a{
    color: white;
    font: 1em sans-serif;
}
/* กำหนดให้อยู่ตรงกลางทั้งfooterและtext textสีดำ*/
footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7em;
    padding: 10px;
    text-align: center;
    color: black; 
}

#fe{
    color: black;
    font-size: 1em;
}

h2{
    color: white;
    font: 30px sans-serif;
}
/*responsive*/
@media screen and (min-width:700px) {
    nav{
        line-height: 60px;
    }  
    a{
        font-size: 1.5em ;
    }
    footer{
        font-size: 1em;
    }
}
