/* text ตรงกลาง สีดำ*/
h1{
    text-align: center;
    color: black;
    margin: 30px 0px;
}

.gall{
    margin: 20px 10px;
}
/* ภาพเป็นสีเทา */
.gall img{
    width: 30%;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
/* เมื่อเม้าส์ชี้ ไม่มีสีเทา*/
.gall img:hover{
    filter: grayscale(0);
    transform: scale(1);
}

/*responsive*/
@media screen and (min-width:700px) {
    main{
        margin: 20px 50px;
    }
   
}
@media screen and (min-width:1200px) {
  
    main{
        margin: 20px 150px;
    }
   
}
