legend{
    font: 30px sans-serif;
}
main{
    margin: 10px;
}
article {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    margin: 5px;
    grid-template-areas:
    
    "s2"
    "s3"
    "s1";
}
/* กำหนดให้อยู่ตรงกลาง*/
#s1{
grid-area: s1;
display: flex;
justify-content: center;
align-items: center;
}

#s2{
grid-area: s2;
}
#s3{
grid-area: s3;
}

img{
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
    
.slide {
    position: relative;
    width: 50%;
}
/* speed 1s fade out*/
.slide img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: 1s;
    opacity: 0;  
}
/* fade in */
.slide img.select {
    opacity: 1;
}

/*responsive*/
@media screen and (min-width:700px) {
    legend{
        font: 50px sans-serif;
    }
    main{
        margin: 20px 50px;
    }
    .slide {
        width: 30%;
    }
    
}
@media screen and (min-width:1200px) {
    legend{
        font: 50px sans-serif;
    }
    main{
        margin: 20px 100px;
    }
    .slide {
        width: 20%;
    }
}