nav{
    display: flex;
    justify-content: flex-end;
    line-height: 60px;
    background-color: black;
    margin: 0px;
    padding: 10px 5px;
}
body{
    margin: 0em;
}
div {
    margin: 0px 10px;
}
a{
    color: white;
    font: 20px sans-serif;
}
footer {
    display: flex;
    justify-content: center;
    
    font-size: 1em;
    padding: 10px;
    text-align: center;
    color: black; 
}
h2{
    color: white;
    font: 30px sans-serif;
}
@media screen and (max-width:700px) {
    #menu{
        width: 35px;
        height: 30px;
        margin: 30px 0 20px 20px;
        cursor: pointer;
    }
    .bar{
        height: 5px;
        width: 100%;
        background-color: #ffffff;
        display: block;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    #bar1{
        transform: translateY(-4px);
    }
    #bar3{
        transform: translateY(4px);
    }
    .nav a{
        color: #fff;
        text-decoration: none;
    }
    .nav a:hover{
        font-weight: bold;
    }
    .nav{
        padding: 0;
        margin: 0 20px;
        transition: 0.3s ease;
        display: none;
    }
    
    #menubar{
        z-index: 2;	
    }
    .change-bg{
        width: 550px;
        height: 540px;
        transform: translate(-60%,-30%);
    }
    .change .bar{
        background-color: white;
    }
    .change #bar1{
        transform: translateY(4px) rotateZ(-45deg);
    }
    .change #bar3{
        transform: translateY(-6px) rotate(45deg);
    }
    .change #bar2{
        opacity: 0;
    }
    .change{
        display: block;
    }
    body{
        margin: 0em;
    }
    div {
        margin: 0px 10px;
    }
    a{
        color: white;
        font: 20px sans-serif;
    }
    footer {
        display: flex;
        justify-content: center;
        
        font-size: 1em;
        padding: 10px;
        text-align: center;
        color: black; 
    }
    h2{
        color: white;
        font: 30px sans-serif;
    }
    nav{
        display: flex;
        justify-content: flex-start;
        line-height: 50px;
        background-color: black;
        margin: 0px;
        padding: 10px 5px;
    }